---
name: Linter

on:  # yamllint disable-line rule:truthy
  push:
    branches: [main]
  pull_request:

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Set up Go
        uses: actions/setup-go@v5.4.0
        with:
          go-version: 1.24.1

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7.0.0
        with:
          version: v2.0.2
